doctype html
html
	include ./includes/init.pug
		title= title
	body
		include ./includes/header.pug

		section
			div.test
				h1 MongoDB - Setup and Environment

		include ./contents/elements.pug

		include ./includes/footer.pug
